<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fendou.moudle.mapper.SupplierMapper">
	<resultMap id="BaseSupplierMap" type="com.fendou.moudle.model.product.Supplier">
		<id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="logo" property="logo" jdbcType="VARCHAR"/>
        <result column="recommend" property="recommend" jdbcType="BIT"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="receivableAccount" property="receivableAccount" jdbcType="VARCHAR"/>
        <result column="contact" property="contact" jdbcType="VARCHAR"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="settledTime" property="settledTime" jdbcType="TIMESTAMP"/>
        <result column="cooperation" property="cooperation" jdbcType="BIT"/>
        <result column="organizationId" property="organizationId" jdbcType="VARCHAR"/>
        <result column="keyword" property="keyword" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="valid" property="valid" jdbcType="BIT"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="createBy" property="createBy" jdbcType="VARCHAR"/>
        <result column="updateBy" property="updateBy" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="relationUserId" property="relationUserId" jdbcType="VARCHAR"/>
        <result column="relationDepId" property="relationDepId" jdbcType="VARCHAR"/>
        <result column="tenantId" property="tenantId" jdbcType="VARCHAR"/>
	</resultMap>

    <sql id="insertColumns">
        , `code`
        , `name`
        , `logo`
        , `recommend`
        , `address`
        , `receivableAccount`
        , `contact`
        , `telephone`
        , `settledTime`
        , `cooperation`
        , `organizationId`
        , `keyword`
        , `sort`
        , `description`
        , `remarks`
        , `valid`
        , `status`
        , `createBy`
        , `updateBy`
        , `createTime`
        , `updateTime`
        , `relationUserId`
        , `relationDepId`
        , `tenantId`
    </sql>

    <sql id="updateColumns">
        , `code` = #{code, jdbcType=VARCHAR}
        , `name` = #{name, jdbcType=VARCHAR}
        , `logo` = #{logo, jdbcType=VARCHAR}
        , `recommend` = #{recommend, jdbcType=BIT}
        , `address` = #{address, jdbcType=VARCHAR}
        , `receivableAccount` = #{receivableAccount, jdbcType=VARCHAR}
        , `contact` = #{contact, jdbcType=VARCHAR}
        , `telephone` = #{telephone, jdbcType=VARCHAR}
        , `settledTime` = #{settledTime, jdbcType=TIMESTAMP}
        , `cooperation` = #{cooperation, jdbcType=BIT}
        , `organizationId` = #{organizationId, jdbcType=VARCHAR}
        , `keyword` = #{keyword, jdbcType=VARCHAR}
        , `sort` = #{sort, jdbcType=INTEGER}
        , `description` = #{description, jdbcType=VARCHAR}
        , `remarks` = #{remarks, jdbcType=VARCHAR}
        , `valid` = #{valid, jdbcType=BIT}
        , `status` = #{status, jdbcType=INTEGER}
        , `updateBy` = #{updateBy, jdbcType=VARCHAR}
    </sql>

    <sql id="listWherePart">
        <where>
            `status` &lt; 9
            <if test="code != null and code != ''">
                AND `code` = #{code, jdbcType=VARCHAR}
            </if>
            <if test="name != null and name != ''">
                AND `name` = #{name, jdbcType=VARCHAR}
            </if>
            <if test="logo != null and logo != ''">
                AND `logo` = #{logo, jdbcType=VARCHAR}
            </if>
            <if test="recommend != null">
                AND `recommend` = #{recommend, jdbcType=BIT}
            </if>
            <if test="address != null and address != ''">
                AND `address` = #{address, jdbcType=VARCHAR}
            </if>
            <if test="receivableAccount != null and receivableAccount != ''">
                AND `receivableAccount` = #{receivableAccount, jdbcType=VARCHAR}
            </if>
            <if test="contact != null and contact != ''">
                AND `contact` = #{contact, jdbcType=VARCHAR}
            </if>
            <if test="telephone != null and telephone != ''">
                AND `telephone` = #{telephone, jdbcType=VARCHAR}
            </if>
            <if test="settledTime != null">
                AND `settledTime` = #{settledTime, jdbcType=TIMESTAMP}
            </if>
            <if test="cooperation != null">
                AND `cooperation` = #{cooperation, jdbcType=BIT}
            </if>
            <if test="keyword != null and keyword != ''">
                AND `keyword` = #{keyword, jdbcType=VARCHAR}
            </if>
            <if test="sort != null">
                AND `sort` = #{sort, jdbcType=INTEGER}
            </if>
            <if test="description != null and description != ''">
                AND `description` = #{description, jdbcType=VARCHAR}
            </if>
            <if test="remarks != null and remarks != ''">
                AND `remarks` = #{remarks, jdbcType=VARCHAR}
            </if>
            <if test="valid != null">
                AND `valid` = #{valid, jdbcType=BIT}
            </if>
            <if test="status != null">
                AND `status` = #{status, jdbcType=INTEGER}
            </if>
            <if test="createBy != null and createBy != ''">
                AND `createBy` = #{createBy, jdbcType=VARCHAR}
            </if>
            <if test="updateBy != null and updateBy != ''">
                AND `updateBy` = #{updateBy, jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                AND `createTime` = #{createTime, jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                AND `updateTime` = #{updateTime, jdbcType=TIMESTAMP}
            </if>
            <if test="searchWords != null and searchWords != ''">
                AND concat_ws('', `code`, `name`, `keyword`) LIKE concat(concat('%', #{searchWords}),'%')
            </if>
            <if test="relationUserId != null and relationUserId != ''">
                AND `relationUserId` = #{relationUserId, jdbcType=VARCHAR}
            </if>
            <if test="relationDepId != null and relationDepId != ''">
                AND `relationDepId` = #{relationDepId, jdbcType=VARCHAR}
            </if>
            <if test="tenantId != null and tenantId != ''">
                AND `tenantId` = #{tenantId, jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <select id="list" parameterType="java.util.Map" resultMap="BaseSupplierMap">
        SELECT *
        FROM supplier t
        <include refid="listWherePart"/>
        <if test="orderBy != null and orderBy != ''">
            ORDER BY ${orderBy}
        </if>
        <if test="orderBy == null or orderBy == ''">
            ORDER BY createTime
        </if>
        <if test="pageSize != null and pageSize > 0">
            LIMIT #{pageStart}, #{pageSize}
        </if>
    </select>

    <select id="autoComplete" resultType="com.fendou.moudle.model.product.Supplier">
        SELECT
            id,
            <include refid="insertColumns"/>
        FROM
            supplier
        WHERE
            `status` &lt; 9
        <if test="tenantId != null and tenantId != ''">
            AND `tenantId` = #{tenantId, jdbcType=VARCHAR}
        </if>
        <if test="term != null and term != ''">
            AND TRIM(CONCAT_WS('', `keyword`)) LIKE CONCAT(CONCAT('%', TRIM(#{term})), '%')
        </if>
    </select>

    <select id="getAll" parameterType="java.util.Map" resultMap="BaseSupplierMap">
        SELECT * FROM supplier WHERE `status` &lt; 9 ORDER BY id ASC
    </select>

    <select id="listCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM supplier t
        <include refid="listWherePart"/>
    </select>

    <select id="get" resultType="com.fendou.moudle.model.product.Supplier">
        SELECT * FROM supplier WHERE `status` &lt; 9 AND id = #{id, jdbcType=VARCHAR}
    </select>
    <select id="findByName" resultType="com.fendou.moudle.model.product.Supplier">
        SELECT * FROM supplier WHERE `status` &lt; 9 AND `name` = #{name, jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="com.fendou.moudle.model.product.Supplier">
        INSERT INTO supplier (
            id
        <include refid="insertColumns"/>
        )
        VALUES (
            #{id, jdbcType=VARCHAR}
            , #{code, jdbcType=VARCHAR}
            , #{name, jdbcType=VARCHAR}
            , #{logo, jdbcType=VARCHAR}
            , #{recommend, jdbcType=BIT}
            , #{address, jdbcType=VARCHAR}
            , #{receivableAccount, jdbcType=VARCHAR}
            , #{contact, jdbcType=VARCHAR}
            , #{telephone, jdbcType=VARCHAR}
            , #{settledTime, jdbcType=TIMESTAMP}
            , #{cooperation, jdbcType=BIT}
            , #{organizationId, jdbcType=VARCHAR}
            , #{keyword, jdbcType=VARCHAR}
            , #{sort, jdbcType=INTEGER}
            , #{description, jdbcType=VARCHAR}
            , #{remarks, jdbcType=VARCHAR}
            , #{valid, jdbcType=BIT}
            , #{status, jdbcType=INTEGER}
            , #{createBy, jdbcType=VARCHAR}
            , #{updateBy, jdbcType=VARCHAR}
            , #{createTime, jdbcType=TIMESTAMP}
            , #{updateTime, jdbcType=TIMESTAMP}
        , #{relationUserId, jdbcType=VARCHAR}
        , #{relationDepId, jdbcType=VARCHAR}
        , #{tenantId, jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO supplier (
            id
        <include refid="insertColumns"/>
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
                #{item.id}
                , #{item.code}
                , #{item.name}
                , #{item.logo}
                , #{item.recommend}
                , #{item.address}
                , #{item.receivableAccount}
                , #{item.contact}
                , #{item.telephone}
                , #{item.settledTime}
                , #{item.cooperation}
                , #{item.organizationId}
                , #{item.keyword}
                , #{item.sort}
                , #{item.description}
                , #{item.remarks}
                , #{item.valid}
                , #{item.status}
                , #{item.createBy}
                , #{item.updateBy}
                , #{item.createTime}
                , #{item.updateTime}
            , #{item.relationUserId}
            , #{item.relationDepId}
            , #{item.tenantId}
            )
        </foreach>
    </insert>

    <update id="update" parameterType="com.fendou.moudle.model.product.Supplier">
        UPDATE supplier
        SET
            updateTime = sysdate()
        <include refid="updateColumns"/>
        WHERE
            id = #{id,jdbcType=VARCHAR}
    </update>

    <insert id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE supplier
            <set>
                updateTime = sysdate()
                <if test="item.code != null">
                    , `code` = #{item.code, jdbcType=VARCHAR}
                </if>
                <if test="item.name != null">
                    , `name` = #{item.name, jdbcType=VARCHAR}
                </if>
                <if test="item.logo != null">
                    , `logo` = #{item.logo, jdbcType=VARCHAR}
                </if>
                <if test="item.recommend != null">
                    , `recommend` = #{item.recommend, jdbcType=BIT}
                </if>
                <if test="item.address != null">
                    , `address` = #{item.address, jdbcType=VARCHAR}
                </if>
                <if test="item.receivableAccount != null">
                    , `receivableAccount` = #{item.receivableAccount, jdbcType=VARCHAR}
                </if>
                <if test="item.contact != null">
                    , `contact` = #{item.contact, jdbcType=VARCHAR}
                </if>
                <if test="item.telephone != null">
                    , `telephone` = #{item.telephone, jdbcType=VARCHAR}
                </if>
                <if test="item.settledTime != null">
                    , `settledTime` = #{item.settledTime, jdbcType=TIMESTAMP}
                </if>
                <if test="item.cooperation != null">
                    , `cooperation` = #{item.cooperation, jdbcType=BIT}
                </if>
                <if test="item.organizationId != null">
                    , `organizationId` = #{item.organizationId, jdbcType=VARCHAR}
                </if>
                <if test="item.keyword != null">
                    , `keyword` = #{item.keyword, jdbcType=VARCHAR}
                </if>
                <if test="item.sort != null">
                    , `sort` = #{item.sort, jdbcType=INTEGER}
                </if>
                <if test="item.description != null">
                    , `description` = #{item.description, jdbcType=VARCHAR}
                </if>
                <if test="item.remarks != null">
                    , `remarks` = #{item.remarks, jdbcType=VARCHAR}
                </if>
                <if test="item.valid != null">
                    , `valid` = #{item.valid, jdbcType=BIT}
                </if>
                <if test="item.status != null">
                    , `status` = #{item.status, jdbcType=INTEGER}
                </if>
                <if test="item.updateBy != null">
                    , `updateBy` = #{item.updateBy, jdbcType=VARCHAR}
                </if>
            </set>
            <where>
                id = #{item.id, jdbcType=VARCHAR}
            </where>
        </foreach>
    </insert>

    <update id="updateSelective" parameterType="com.fendou.moudle.model.product.Supplier">
        UPDATE supplier
        SET
            updateTime = sysdate()
        <if test="code != null">
            , `code` = #{code, jdbcType=VARCHAR}
        </if>
        <if test="name != null">
            , `name` = #{name, jdbcType=VARCHAR}
        </if>
        <if test="logo != null">
            , `logo` = #{logo, jdbcType=VARCHAR}
        </if>
        <if test="recommend != null">
            , `recommend` = #{recommend, jdbcType=BIT}
        </if>
        <if test="address != null">
            , `address` = #{address, jdbcType=VARCHAR}
        </if>
        <if test="receivableAccount != null">
            , `receivableAccount` = #{receivableAccount, jdbcType=VARCHAR}
        </if>
        <if test="contact != null">
            , `contact` = #{contact, jdbcType=VARCHAR}
        </if>
        <if test="telephone != null">
            , `telephone` = #{telephone, jdbcType=VARCHAR}
        </if>
        <if test="settledTime != null">
            , `settledTime` = #{settledTime, jdbcType=TIMESTAMP}
        </if>
        <if test="cooperation != null">
            , `cooperation` = #{cooperation, jdbcType=BIT}
        </if>
        <if test="organizationId != null">
            , `organizationId` = #{organizationId, jdbcType=VARCHAR}
        </if>
        <if test="keyword != null">
            , `keyword` = #{keyword, jdbcType=VARCHAR}
        </if>
        <if test="sort != null">
            , `sort` = #{sort, jdbcType=INTEGER}
        </if>
        <if test="description != null">
            , `description` = #{description, jdbcType=VARCHAR}
        </if>
        <if test="remarks != null">
            , `remarks` = #{remarks, jdbcType=VARCHAR}
        </if>
        <if test="valid != null">
            , `valid` = #{valid, jdbcType=BIT}
        </if>
        <if test="status != null">
            , `status` = #{status, jdbcType=INTEGER}
        </if>
        <if test="updateBy != null">
            , `updateBy` = #{updateBy, jdbcType=VARCHAR}
        </if>
        <where>
            id = #{id, jdbcType=VARCHAR}
        </where>
    </update>

    <delete id="delete">
        DELETE FROM supplier WHERE id = #{id, jdbcType=VARCHAR}
    </delete>

</mapper>